*{
    font-family: Arial;
}
#playerDiv{
    border: solid 1px;
    height: 315px;
    width: 560px;
    margin: 20px;
}
#channelRow{
    width: 170px;
}
#titleRow{
    width: 450px;
}
.playlistTable{
    border-collapse: collapse;
}
.playlistTable td{
    padding: 8px;
}
.playlistTable tr:nth-child(even){
    background-color: #f2f2f2;
}
.playlistTable tr:hover{
    background-color: #e9e9e9;
}
.playlistTable a:hover img{
    filter: brightness(50%);
}
.playlistTable a img{
    filter: brightness(0%);
}

#loading{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(44, 62, 80,1);
    transition: display 0.5s;
}
#loading #ldingCen  {
    margin-left: calc(50% - 150px);
    margin-top: calc(50vh - 150px);
    text-align: center;
    color: #bdc3c7;
    font-family: Arial;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
}