.search-result-thumbnail{
    width: 100px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;

}
#search-div{
    margin-left: 40px;
    width: calc(100% - 80px);
}
#search-div tbody{
    width: 100%;
}
#search-div tbody tr .search-result-title-td{
    width: 70%;
}
#search-div tbody tr .search-result-thumbnail-td{
    width: 110px;
}
#search-div tbody tr .search-result-author-td{
    width: 20%;
}
#search-div tbody tr .search-result-play-td{
    width: 5%;
}
#search-div tbody tr .search-result-add-td{
    width: 5%;
}
#search-title{
    font-size: 20px;
}
#search-div input{
    font-size: 20px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 10px;
}
#add-btn{
    color: black;
    display: none;
    position: fixed;
    width: 500px;
    z-index: 1000;
    top: 20px;
    left: calc(50% - 250px);
    background-color: white;
    padding: 0;
    border-radius: 10px;
    transition: display 0.3s;
}
#addToPlaylist-btn{
    background-color: #5d5e5d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}
.add-btn-top{
    height: 25px;
    padding: 5px;
    width: 100%;
    background-color: rgba(1, 5, 16, 0.79);
    color: white;
}
.add-btn-top label{
    margin-left: 150px;
}
.add-btn-top img{
    float: left;
}
.add-btn-bottom{
    padding: 10px;
}
#bg-black{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  display:none;
}
#add-form{
  position: absolute;
  top: 40px;
  margin-left: calc(50% - 275px);
  background-color: #212121;
  max-width: 550px;
  display: none;
  z-index:1002;
}
.cross{
  background-color:#c0392b;
  padding:2px;
  padding-left:6px;
  padding-right:6px;
  position: relative;
  float:right;
  cursor:pointer;
}
.title{
  padding:8px;
}
.top-wrapped{
  border-bottom:1px #424242 solid;
}
#info-container{
  padding:15px;
  background-color:#212121;
}
#img-w{
  margin-right:10px;
  float:left;
}
#title-w{
  float:left;
  text-overflow: ellipsis;
}
#playlist-selector{
  float:left;
}
#add-btn-done{
  float:left;
}
.clr-fx{
  clear:both;
}
