.theater-black{
  background-color:rgba(0,0,0,0.5);
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:998;
  filter:blur(5px);
  display: none;
}
.theater-mode{
  width: 1280px;
  height: 562px;
  background-color:#212121;
  z-index:999;
  position:absolute;
  top:50%;
  left:50%;
  margin: -281px 0px 0px -640px;
  display: none;
}
.closer{
  position:absolute;
  top:0;
  right:0;
  background-color:#c0392b;
  color:white;
  font-family: arial;
  padding:5px;
  cursor: pointer;
   text-shadow: 2px 2px #000;

}
#track-list-2{
  position: absolute;
    background-color: green;
    left: 1000px;
    bottom: 0;
    right: 0;
    top: 150px;
}
#trackNameTH{
  position: absolute;
  left: 1000px;
  top: 25px;
  padding: 5px;
  color: white;
  font-weight: bold;
  font-family: 'Lato';
}
