@font-face {
    font-family: 'Lato';
    font-weight: 200;
    font-style: italic;
    src: url("../fonts/Lato-ThinItalic.ttf");
}

@font-face {
    font-family: 'Lato';
    font-weight: 200;
    src: url("../fonts/Lato-Thin.ttf");
}

@font-face {
    font-family: 'Lato';
    font-weight: 100;
    src: url("../fonts/Lato-Hairline.ttf");
}

@font-face {
    font-family: 'Lato';
    font-weight: 300;
    src: url("../fonts/Lato-Light.ttf");
}

@font-face {
    font-family: 'Lato';
    font-weight: 300;
    font-style: italic;
    src: url("../fonts/Lato-LightItalic.ttf");
}

* {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
body{
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.bg-holder {
    background-color: #121314;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: -40px;
    right: -40px;
    left: -40px;
    bottom: -40px;
    filter: blur(7px);
    -webkit-filter: blur(7px);
    padding: 10px 10px;
}
.bg-holder-conn{
    background-image: url("../imgs/bg2.jpg");
}

.head-wrapper {
    position: absolute;
    margin-top: 15vh;
    margin-left: calc(50% - 200px);
    padding: 5px;
}

.head-wrapper > #title {
    color: white;
    font-size: 130px;
    font-family: Lato;
    font-weight: 200;
    font-style: italic;
    text-align: center;
}

.head-wrapper > #under {
    color: white;
    font-size: 2em;
    font-style: italic;
    font-weight: lighter;
    font-family: Lato;
    margin-bottom: 25px;
}

.login-form {
    padding: 5px;
    transition: 2s;
}

.login-form > #head {
    text-align: center;
    font-family: Lato;
    font-weight: lighter;
    font-size: 1.7em;
    color: white;
}

#input {
    background-color: #fff;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 1px;
    border-top-color: rgb(160, 160, 160);
    cursor: text;
    font: 18px arial, sans-serif;
    width: 100%;
    margin-bottom: 8px;
    outline-style: none;
    padding: 5px;
    box-sizing: border-box;
    background-color: white;
    z-index: -999;
}

.right {
    transform: translate(-3646px, 0);
}

.left {
    transform: translate(0, 0);
}

.log-wrapper {
    position: relative;
    margin-top: 55vh;
    width: 4096px;
}

#login-form-block {
    float: left;

    padding: 25px;
    height: 10%;
    width: 400px;
}

#register-form-block {
    float: right;
    padding: 25px;
    height: 10%;
    width: 400px;
}

button {
    background-color: #fff;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 1px;
    border-top-color: rgb(160, 160, 160);
    font: 18px arial, sans-serif;
    padding: 5px;
    color: #333;
}

.hidden-black {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 999;
    display: none;
}

.error-box {
    position: absolute;
    top: 40px;
    margin-left: calc(50% - 185px);
    min-width: 370px;
    background-color: white;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 1px;
    border-top-color: rgb(160, 160, 160);
    padding: 8px;
    background-color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    z-index: 1002;
    display: none;
}

.error-box > #title {
    color: #333;
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5em;
    text-transform: capitalize;
    margin-bottom: 5px;
    color: #e74c3c;
    margin-left: calc(50% - 80px);
    display: inline-block;
}

.error-box > #topic {
    color: #222;
    margin-top: 15px;
    display: inline-block;
}

.left-wrapper {
    background-color: #212121;
    z-index: 999;
    width: 250px;
    color: white;
    font-family: Lato;
    font-weight: 100;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    opacity: 0.95;
}

.left-wrapper > .user-space {
    background-color: #353535;
    padding: 15px;
    transition: 0.3s;
}

.user-space > .img {
    float: left;
    border-radius: 50px;
    overflow: hidden;
    height: 40px;
    width: 40px;
}

.user-space > .username {
    float: left;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 6%;
    margin-left: 15px;
}

.clear-fix {
    clear: both;
}

.user-space:hover {
    background-color: #aaabbb;
    transition: 0.3s;
}

.item-menu {
    padding: 15px;
    font-size: 1.1em;
    font-weight: 300;
    transition: 0.3s;
    cursor: pointer;
}

.active {
    background-color: #424242;
    transition: 0.3s;
}

.item-menu:hover {
    background-color: #414141;
    transition: 0.3s;
}

.item-menu-bottom {
    padding: 15px;
    font-size: 1.1em;
    font-weight: 300;
    transition: 0.3s;
    width: 100%;
    position: absolute;
    bottom:0;
    cursor: pointer;
}

.item-menu-bottom:hover {
    background-color: #414141;
    transition: 0.3s;
}
#body-container{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    color: white;
    overflow-y: auto;
    font-family: Lato;
    opacity: 0.95;
    min-width: 800px;

}
.playlist-container{
    background-color: #2d2d2d;


}
.playlist-item{
    width: calc(100% - 80px);
    margin-left: 40px;
}
.playlistTable{
    border-collapse: collapse;
    background-color: #2d2d2d;
    width: calc(100vw - 290px);
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
}
.playlistTable td{
    padding: 8px;

}
.playlist-item-title{
    font-size: 20px;
    font-weight: 300;
    margin-left: 10px;
}
.play-btn{
  background-color: #27ae60;
  border: none;
  padding: 2px;
  font-size: 0.7em;
  margin-left:10px;
  color:white;
}
.rem-btn{
  background-color: #c0392b;
  border: none;
  padding: 2px;
  font-size: 0.7em;
  margin-left:10px;
  color:white;
}
#titleRow{
    width: 70%;
}
#channelRow{
    width: 30%;
}
.playRow{
    width: 10%;
    min-width: 100px;
}
tbody{
    background-color: #2d2d2d;
}
tbody tr:nth-child(even){
    background-color: #212121;
}
tbody tr:hover{
    background-color: #373737;
}
.playlistTable a:hover img{
    filter: brightness(50%);
}
.playlistTable a img{
    filter: brightness(0%);
}
.sortable{
    cursor: pointer;
}
.user-playlist h3{
    font-size: 40px;
    margin-left: 40px;
    margin-top: 20px;
    font-weight: 200;
}
.user-playlist h4 {
    font-size: 20px;
    margin-top: 20px;
}
#playerDiv{
    z-index: 1000;
    position: absolute;
    left: 0;
    bottom: 48px;
    width: 100%;
    min-width: 200px;
    min-height: 200px;
}

#playerDiv:hover,
#playerDiv.active{

}
.not_sortable{
    cursor: default;
}
#trackName{
    position: absolute;
    left: 0;
    bottom: 248px;
    padding:10px;
    color:white;
    font-size:1.1em;
}
.context-menu{
    z-index: 1002;
    display: none;
    position: absolute;
    color: white;
    background-color: #121314;
    border-radius: 5px;
    border-color: #303130;
    border: solid 1px;
    pdding: 0px;
}
.context-menu td{
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
}

#context-menu-container{
    font-family: Lato;
}